{% extends "NextGenThreat/skeleton.html" %}

{% block content %}
	<!-- First Featurette -->
	<div class="featurette" id="about">
		<img class="featurette-image img-circle img-responsive pull-right" src="{% static 'NextGenThreat/img/spaceship.jpg' %}"height="500" width="500">
		<h2 class="featurette-heading">Exploding Stars
		</h2>
		<p class="lead">The main objective of the project is to develop a software solution to graphically represent the information of the burst bolides. In order to achieve that, the Exploding Stars team has developed both, a web application and an Android application, which represents in a map view the locations where the bolides have burst and which notify the users when a new burst take place.</p>
	</div>

	<hr class="featurette-divider">

	<!-- Second Featurette -->
	<div class="featurette" id="services">
		<img class="featurette-image img-circle img-responsive pull-left" src="{% static 'NextGenThreat/img/bolide.jpg' %}"height="500" width="500">
		<h2 class="featurette-heading">¿What is an airburst?
		</h2>
		<p class="lead">In Space environment, an airburst is an explosion of an object when it collides with the Earth atmosphere.
		When an object collides with Earth atmosphere, it is called "bolide", and in case that this bolide hits on Earth, it is called meteor. So that, Bolides are extremely bright meteors that explode when entering the earth's atmosphere, sometimes even producing a flash visible in daylight.
.</p>
	</div>

	<hr class="featurette-divider">

	<!-- Third Featurette -->
	<div class="featurette" id="contact">
		<img class="featurette-image img-circle img-responsive pull-right" src="{% static 'NextGenThreat/img/track.jpg' %}"height="500" width="500">
		<h2 class="featurette-heading">Track and chase
		</h2>
		<p class="lead">The aim of the Exploding Stars project is to allow humanity to be conscious about the importance of the Space Science, which can help us prevent from the huge disaster that the impact of a meteor could have in our planet.</p>
	</div>

	<hr class="featurette-divider">
{% endblock %}
